langgraph>=0.0.32
langchain>=0.1.16
langchain-groq>=0.0.4
sentence-transformers>=2.2.2
transformers>=4.40.0
torch>=2.0.0
langchain-community>=0.0.29
pypdf>=3.17.4
chromadb>=0.4.24
langchain-chroma>=0.1.0
